{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}base{% endblock %}</title>

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/base.css' %}" rel="stylesheet"/>
    {% block css %}{% endblock %}
  </head>
  <body>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand" href="/index/">JHU Student Ride</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/index/">Home</a>
              {% if request.session.is_login %}
                  <a class="nav-link" href="#">logged in：{{ request.session.user_name }}</a>
                  <a class="nav-link" href="/logout/">Logout</a>
              {% else %}
                  <a class="nav-link" href="/login/">sign in</a>
              {% endif %}
          </nav>
        </div>
      </header>
    {% block content %}{% endblock %}


      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>