
  <h1>JHUStudentRide</h1>
  
  
  <p>Welcome! This WEB is developed by <em>Tien Jung, Lee and Dung-Yi, Wu</em>!</p>

  <img src="Logo.png" width="700" height="345"/>

  <p>Please Type your username: </p> 
  <input/><br/>
  <p>Please Type your password: </p> 
  <input/><br/>
  
  
  
  



  <a href="https://www.w3schools.com/tags/tag_sub.asp"><br/>
  # <img src=""/>
  </a>
  <h2>Dynamic content{{jjj}}</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ kk }}</li>
  </ul>
{% endblock %}