
body{
    background-image: url(http://127.0.0.1:8000/static/images/homepage.jpg);
    background-size: cover;
}

.slogan{
    color:white;
    
  text-shadow: 0 .05rem 20px rgba(0, 0, 0, 1);
  font-size: 50px;
  margin-bottom: 80px;
}