{% extends 'except_base_about.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block css %}<link href="{% static 'css/about.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}
    <main role="main" class="inner cover" style="margin-top:100px">
        <div>   
            <p style="font-weight:bold; font-size:30px;">About</p>
            <p>Welcome to JHUStudentRide! We are excited to have you in our community. 
            It is well-known that the crime rate in Baltimore is extremely high. It 
            is risky to take random rides from non-authorized drivers. Therefore, we 
            hope to build a platform for mediating drivers and passengers only for JHU 
            students to prevent bad-recorded drivers. The email for registration
            is limieted to jhu email address to make sure the identity.</p> </br>
            </br>
            <p style="font-weight:bold; font-size:30px;">How to use ?</p>
            <p>
                (1)&nbsp You will first visit our JHUstudentRide homepage. Then, go register for a user account.</br>
                </br>
                (2)&nbsp Please fill up the form and be aware of we only accept JHU email. Please do not use other emails. 
                Then, click submit. After successfully registration, you can log into your account from the homepage.</br>
                </br>
                (3)&nbsp If you are a driver, click on “I’m a Driver”. If you are a passenger, click on “Pick me up”.</br>
                </br>
                (4)&nbsp Drivers can add new trip by filling up the registration for a trip form, including time, departure and destination. 
                Then, drivers will see the registered trip shown in the driver list webpage which can be reached by clicking "Pick me up". 
                If the route you offer is not available anymore, you can click on the cancel bottom to cancel it. The trip will disappear 
                from your driver list webpage. (Note: you cannot cancel the trip if that is not register by you)</br>
                </br>
                (5)&nbsp Passengers can see all offered rides in "Pick me up" webpage. Google map search page link is also included, 
                you can click on the address to reach it. Once the time and route that driver provides are match to your plan, you can 
                contact the riders using the jhu email to organize the trip.</br>
                </br>
                (6)&nbsp This website is total free. Please enjoy our service!</br>
            </p>
            </br>
            </br>  

            <p style="font-weight:bold; font-size:30px;">Developers</p>
            <span>
            <span style="font-weight:bold; font-size:large;" >Tien Jung, Lee &nbsp;</span>
            <span><a href="mailto: tlee142@jhu.edu"><img src="http://127.0.0.1:8000/static/images/email1.jpg" width="20" height="20"></a></span>
            <span><a href="https://www.linkedin.com/in/tien-jung-lee-baa371170">&nbsp<img src="http://127.0.0.1:8000/static/images/linkedin.png" width="18" height="18"></a></span>
            </span>
            <span>
            <span style="font-weight:bold; font-size:large;" >&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Dung Yi, Wu &nbsp;</span>
            <span><a href="mailto: dwu45@jh.edu"><img src="http://127.0.0.1:8000/static/images/email1.jpg" width="20" height="20"></a></span>
            <span><a href="www.linkedin.com/in/dung-yi-wu">&nbsp<img src="http://127.0.0.1:8000/static/images/linkedin.png" width="18" height="18"></a></span>
            </span>

            </br>
            </br>
            </br>
            </br>
            <p style="font-weight:bold; font-size:30px;">Reference</p>

            <span>(1)&nbsp Django (&nbsp<span><a href="https://www.djangoproject.com/" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(2)&nbsp MySQL(&nbsp<span><a href="https://www.mysql.com/" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(3)&nbsp Django setup tutorial(&nbsp<span><a href="https://www.youtube.com/watch?v=Ev5xgwndmfc&list=PLzMcBGfZo4-kQkZp-j9PNyKq7Yw5VYjq9&index=9&fbclid=IwAR1YVXh1dvWRsezzCOnzagyPyHz9AmEwSEicWT57ASo8l3XDfx5bM5oIXo4" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(4)&nbsp Creating homepage, APP and some often used HTML codes(&nbsp<span><a href="https://developer.mozilla.org/zh-TW/docs/Learn/Server-side/Django/Home_page?fbclid=IwAR1_aRgbBwWElcpWX64zZdFKd77Y2PeFcsoOhczUAVy4ZxVgVyrqDj_ZEKM" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(5)&nbsp Bootstrap HTML for formatting our homepage(&nbsp<span><a href="https://getbootstrap.com/" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(6)&nbsp Setup user account and password(&nbsp<span><a href="https://www.cnblogs.com/derek1184405959/p/8567522.html?fbclid=IwAR0STX3BbvP5cfl1mKFWMh-t4U6KffrJYsqsQ3Q27bb6RNT15G5N8EuvKbk" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(7)&nbsp Tutorial for styling sidebar and templates(&nbsp<span><a href="https://www.youtube.com/watch?v=UmljXZIypDc&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&fbclid=IwAR20fQv82b7qOB6OzrUdULnJFKn7I_M4dm7MjOV-MztAdJbP-jUufOIaBxc" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>
            
            <span>(8)&nbsp Codes for setting up tables, CSS, hyperlink, plug images and styling(&nbsp<span><a href="https://www.w3schools.com/html/" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(9)&nbsp MySQL for Absolute Beginners(&nbsp<span><a href="https://www.elated.com/mysql-for-absolute-beginners/" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>

            <span>(10)&nbsp Uber, Lyft, Moqi mobile carshare app in Appstore(&nbsp<span><a href="https://www.apple.com/ios/app-store/" style="color:blue;">link</a></span>&nbsp)</span>
            </br>
            </br>
            </br>
        </div>

{%endblock%}

