{% extends 'except_base.html' %}
{% load static %}
{% block title %}driver register{% endblock %}
{% block css %}<link href="{% static 'css/driver.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
    <main role="main" class="inner cover main">
          <form class='form-register' action="/driver_list/" method="post" >

              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

              <h2 class="text-center">Driver register</h2>
                <div class="form-group">
                  {{ form.time.label_tag }}
                  {{ form.time }}
              </div>
              <div class="form-group">
                  {{ form.departure.label_tag }}
                  {{ form.departure }}
              </div>
              <div class="form-group">
                  {{ form.destination.label_tag }}
                  <input type="text" name="destination" class="form-control" maxlength="256" required="" id="id_destination" list="common destination">
                    <datalist id="common destination" style="width:100px">
                    <option value="Inner harbor">Short Distance</option>
                    <option value="H mart">Short Distance</option>
                    <option value="Costco">Short Distance</option>
                    <option value="GW Supermarket (大中華)">Short Distance</option>
                    <option value="Giant">Short Distance</option>
                    <option value="District of Columbia">Long Distance</option>
                    <option value="New York">Long Distance</option>
                    </datalist>
                    </input>
              </div>
            </br>
            <div align="center"><button type="submit" class="btn btn-primary pull-right" style="background-color:#212529;width:100%;height:45px;border:2px white;">submit</button></div>
          
          </form>
        </main>
{% endblock %}






